body {
    background-color: #555;
}

table {
    margin: 10px;
    margin-top: 0px;
    /* background-color: #999; */
    border: solid 0px #000;
    display: block;
}

td {
    border: solid 0px #000;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

button.calculate-button{
    background-color: rgb(173, 173, 173);
    color:rgb(0, 0, 0);
    border: none;
    height: 36px;
    width: 90px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor:pointer;
    margin-left: 8px;
}

div#main_container {
    border: solid 1px #000;
    padding: 5px;
    display: flex;
}

div.selectDivContainer {
    border: solid 1px #000;
    background-color: #999;
    text-align: center;
    margin-top: 10%;
    height: 10%;
}

select.selectMatrixOp {
    text-align: center;
}

div#main_container div.tableContainer {
    border: solid 1px #000;
    text-align: center;
}

div.matrixControl {
    background-color: #999;
    border: solid 0px #000;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font: 12pt monospace;
    display: flex;
}

div.buttonControls div {
    display: inline-block;
}

td input {
    border: solid 0px #000;
    text-align: center;
    font: 16pt monospace;
    background-color: #999;
}

input.controls {
    border: solid 1px #000;
    width: 50px;
    margin: 1px;
    text-align: center;
    font: 12pt monospace;
    height: auto;
    border: none;
    outline: none;
}


td input:hover {
    background-color: #aaa;
}

td input:focus-within {
    background-color: #9f9;
    outline: none;
}