body {
    background-color: #333;
}

table {
    margin: 0px;
    border: solid 1px #000;
}

td {
    border: solid 1px #000;
    text-align: center;
    width: 50px;
    height: 50px;
}

div#main_container {
    
}

input {
    border: solid 1px #fff;
    padding: 3px;
    text-align: center;
    width: 50px;
    height: 45px;
    font-size: 18px;
    font-family: monospace;
}

input:focus-within {
    background-color: #ff9;
    outline: none;
}

button{
    font-size: 16px;
    font-family: monospace;
    width: 25px;
}